h1,h2{
  color: deepskyblue;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
    font-weight: bolder;
}
#intro {
  color: blue;
  top: 100px;
}
.content {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}
.navigation {
  border: 2px solid black;
  border-collapse: collapse;
}
.navigation tr td{
  border: 3px solid black;
  padding: 5px;
  width: 500px;
  background-color: #7FFFD4;
  text-align: center;
  font-weight: bold;
}
.content::selection{
  color: red;
  background-color: yellow;
}
.content li::selection{
  color: red;
  background-color: yellow;
}
button {
  width: 200px;
  height: 50px;
  font-size 24px;
  background: lightgreen;
  text-align: center;
}
button:hover {
  background-color: lightgray;
}
.row > div{
  pedding: 20px;
  border: 2px solid black;
}
